header {
  position: fixed;
  top:0;
  left:0;
  z-index: 6;
  height:146px;
  width: 100%;
  background-color: white;
  @media only screen and (max-width: 768px) {
    height:144px;
  }
  @media only screen and (max-width: 600px) {
    height: 87px;
  }
  nav {
    // display: block;
    // width:1440px;
    // max-width: 89.5%;
    // margin:0 auto;
    // text-align:center;
    // position: relative;
    // z-index: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1000;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 0 5%;
    ul.left-hand-links {
      display: inline-block;
      text-align: right;
      line-height: normal;
      letter-spacing: normal;
      width:430px;
      @media only screen and (max-width: 1276px) {
        display: none;
      }
      li {
        &:first-child {
          padding:10px 0;
        }
        a.navlink {
          display: block;
          &.active {
            font-family: 'Montserrat-Regular', 'OpenSans-Semibold', sans-serif;
          }
        }
      }
    }
    div.master-lo {
      background-color: white;
      border-radius: 8px;
      display: inline-block;
      height:186px;
      width:234px;
      background-image:url('./img/global/blue-logo@2x.png');
      background-size: 80%;
      background-position: 67% 60%;
      background-repeat: no-repeat;
      position: relative;
      z-index: 100;
      transition: all 300ms ease-in;
      @media only screen and (max-width: 1276px) {
          height:162px;
          width:189px;
          float: left;
          margin-left: 1.5rem;
      }
      @media only screen and (max-width: 600px) {
        height: 101px;
        width: 115px;
        margin-left: 4.8%;
      }
    }
    ul.right-hand-links {
      display: inline-block;
      text-align: left;
      line-height: 0.9;
      letter-spacing: normal;
      width:430px;
      max-width: 100%;
      @media only screen and (max-width: 1276px) {
        max-width: 100%;
      }
      li.sm-links{
         margin: 0 15px;
         @media only screen and (max-width: 1276px) {
           vertical-align: top;
           top: 50px;
         }
         @media only screen and (max-width: 768px) {
           margin: 0 9px;
         }
      }
      a.navlink {
        display: block;
        &:last-child {
          @include button($darkish-blue, white)
          @media only screen and( max-width: 768px) {
            position: relative;
          }
          @media only screen and (max-width: 600px) {
            display: none;
          }
        }
      }
      @media only screen and (max-width: 1276px) {
        width: auto;
        float: right;
        top: 50px;
      }
    }
    ul {
      vertical-align: top;
      top: 50px;
      position: relative;
      @media only screen and (max-width: 1276px) {
        top: 50px;
      }
    }
    li {
      display: inline-block;
      margin:0 20px;
    }
    a.sm-navlink {
      font-size: 14px;
      @media only screen and (max-width: 1276px) {
        display: none;
      }
    }
    $bar-width: 42px;
    $bar-height: 5px;
    $bar-spacing: 15px;
    .hamburger-menu {
      z-index: 30;
      position: relative;
      top:5px;
      width: $bar-width;
    	height: $bar-height + $bar-spacing*2;
    	cursor: pointer;
      @media only screen and (min-width: 1276px) {
        display: none;
      }
      @media only screen and (max-width: 600px) {
        top: -23px;
      }
    }
    .hamburger {
      position: relative;
      margin-right: 0;
    }
    .bar,
    .bar:after,
    .bar:before {
      width: $bar-width;
    	height: $bar-height;
    }
    .bar {
    	position: relative;
    	transform: translateY($bar-spacing);
      background: $twilight-blue;
    	transition: all 0ms 300ms;
      &.animate {
        background: rgba(255, 255, 255, 0);
      }
    }
    .bar:before {
    	content: "";
    	position: absolute;
    	left: 0;
    	bottom: $bar-spacing;
    	background: $twilight-blue;
    	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .bar:after {
    	content: "";
    	position: absolute;
    	left: 0;
    	top: $bar-spacing;
    	background: $twilight-blue;
    	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .bar.animate:after {
    	top: 0;
    	transform: rotate(45deg);
    	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
    .bar.animate:before {
    	bottom: 0;
    	transform: rotate(-45deg);
    	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }

  }
}
.dropin {
  outline: 1px solid red;
  position: fixed;
  top:-200%;
  left:0;
  z-index: 90;
  height: 100%;
  width:100%;
  background-color: white;
  padding-top: 65px;
  transition: all 300ms ease-in;
  text-align: center;
  &.animate-menu {
    top:84px;
  }
  li {
    display: block;
    margin: 40px auto;
  }
  .dropin-link {
    font-size: 32px;
  }


}
.hide-menu-item {
  opacity: 0;
}
.partner-link {
  position: relative;
  transition: all 300ms ease-in;
}
.navlink.dropin-link.active {
  font-family: 'Montserrat-Regular', 'OpenSans-Semibold', sans-serif;
}
